.chat-group-form
  %h1 チャットグループ編集
  = render partial: 'form', locals: { group: @group }
  %form
    .chat-group-form__errors
      .chat-group-form__field--right
        %input#chat_group_name.chat-group-form__input{:name => "chat_group[name]", :placeholder => "グループ名を入力してください", :type => "text"}/
 