html {
  color: #000;
  background: #FFF;
}
head {
  display: none;
}
style {
  display: none;
}
* {
  box-sizing: border-box;
}
link {
  display: none;
}
a {
  text-decoration: none;
}
.head{
  display: none;
}
.flash-box {
  color: white;
  font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  width: 100vw;
}

